#page_3 .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%); */
    overflow: hidden;
}

#page_3 .swiper-slide{
    position:fixed
}

/* 定义外层容器样式 */
#page_3 .content .shell {
    position: relative;
    /* 相对定位 */
    width: 60vw;
    /* 宽度占视口宽度的60% */
    height: 40vw;
    /* 高度占视口高度的40% */
    max-width: 500px;
    /* 最大宽度为380像素 */
    max-height: 500px;
    /* 最大高度为250像素 */
    margin: 0;
    /* 外边距为0 */
    color: white;
    /* 字体颜色为白色 */
    perspective: 500px;
    /* 透视效果，观察者与z=0平面的距离 */
    transform-origin: center;
    /* 变形原点为中心 */
}

/* 定义内容容器样式 */
#page_3 .content .shell .content1 {
    display: flex;
    /* 设置为弹性盒子布局 */
    justify-content: center;
    /* 主轴居中对齐 */
    align-items: center;
    /* 交叉轴居中对齐 */
    position: absolute;
    /* 绝对定位 */
    width: 100%;
    /* 宽度100% */
    height: 100%;
    /* 高度100% */
    transform-origin: center;
    /* 变形原点为中心 */
    transform-style: preserve-3d;
    /* 保持3D变换 */
    transform: translateZ(-50vw) rotateY(0);
    /* 变换：沿z轴平移-30vw，绕y轴旋转0度 */
    animation: carousel 18s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
    /* 动画：名称为carousel，持续时间9秒，无限循环，缓动函数为cubic-bezier(0.77, 0, 0.175, 1)，动画结束后保持最后状态 */
}

/* 定义项目样式 */
#page_3 .content .shell .content1 .item {
    position: absolute;
    /* 绝对定位 */
    width: 40vw;
    /* 宽度占视口宽度的60% */
    height: 40vw;
    /* 高度占视口高度的40% */
    max-width: 290px;
    /* 最大宽度为380像素 */
    max-height: 250px;
    /* 最大高度为250像素 */

    border-radius: 6px;
    /* 边框圆角半径为6像素 */
    background-size: cover;
    /* 背景图片等比例缩放并覆盖整个容器 */
    -webkit-box-reflect: below 25px -webkit-linear-gradient(transparent 50%, rgba(255, 255, 255, 0.3));
    /* 创建倒影效果 */
}

/* 第一个项目样式 */
#page_3 .content .shell .content1 .item:nth-child(1) {
    background-image: url(./01.webp);
    /* 背景图片为01.jpg */
    transform: rotateY(0) translateZ(45vw);
    /* 变换：绕y轴旋转0度，沿z轴平移35vw */
}

/* 第二个项目样式 */
#page_3 .content .shell .content1 .item:nth-child(2) {
    background-image: url(./02.png);
    /* 背景图片为02.jpg */
    transform: rotateY(51.4deg) translateZ(45vw);
    /* 变换：绕y轴旋转51.4度，沿z轴平移35vw */
}

/* 第三个项目样式 */
#page_3 .content .shell .content1 .item:nth-child(3) {
    background-image: url(./03.webp);
    /* 背景图片为03.jpg */
    transform: rotateY(102.8deg) translateZ(45vw);
    /* 变换：绕y轴旋转102.8度，沿z轴平移35vw */
}

/* 第四个项目样式 */
#page_3 .content .shell .content1 .item:nth-child(4) {
    background-image: url(./04.webp);
    /* 背景图片为03.jpg */
    transform: rotateY(154.2deg) translateZ(45vw);
    /* 变换：绕y轴旋转154.2度，沿z轴平移35vw */
}

/*第五个项目样式*/
#page_3 .content .shell .content1 .item:nth-child(5) {
    background-image: url(./05.webp);
    /* 背景图片为03.jpg */
    transform: rotateY(205.6deg) translateZ(45vw);
    /* 变换：绕y轴旋转205.6度，沿z轴平移35vw */
}

/*第六个项目样式*/
#page_3 .content .shell .content1 .item:nth-child(6) {
    background-image: url(./06.webp);
    /* 背景图片为03.jpg */
    transform: rotateY(257deg) translateZ(45vw);
    /* 变换：绕y轴旋转257度，沿z轴平移35vw */
}

/*第七个项目样式*/
#page_3 .content .shell .content1 .item:nth-child(7) {
    background-image: url(./07.webp);
    /* 背景图片为03.jpg */
    transform: rotateY(308.4deg) translateZ(45vw);
    /* 变换：绕y轴旋转308.4度，沿z轴平移35vw */
}


@keyframes carousel {

    0%,
    9% {
        transform: translateZ(-35vw) rotateY(0);
        /* 变换：沿z轴平移-35vw，绕y轴旋转0度 */
    }

    13%,
    22% {
        transform: translateZ(-35vw) rotateY(-51.4deg);
        /* 变换：沿z轴平移-35vw，绕y轴旋转-51.4度 */
    }

    26%,
    35% {
        transform: translateZ(-35vw) rotateY(-102.8deg);
        /* 变换：沿z轴平移-35vw，绕y轴旋转-102.8度 */
    }

    39%,
    48% {
        transform: translateZ(-35vw) rotateY(-154.2deg);
        /* 变换：沿z轴平移-35vw，绕y轴旋转-154.2度 */
    }

    52%,
    61%{
        transform: translateZ(-35vw) rotateY(-205.6deg);
    }

    65%,
    74% {
        transform: translateZ(-35vw) rotateY(-257deg);
    }

    78%,
    87% {
        transform: translateZ(-35vw) rotateY(-308.4deg);
    }

    91%,
    100% {
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}